/*
************************
VARIABLES
************************
*/

// Creazione VARIABLES CON CSS (COMMENTATA)
// :root {
//     --container_width: 75rem;
//     --container_margin: 0 auto;
// }

// Creazione VARIABILES CON SCSS invece di CSS
$container_width: 75rem;
$container_margin: 0 auto;
$text_first_color: white;