@use './partials/reset' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

/*
************************
MAIN RULES
************************
*/
body {
    font-family: "Montserrat";
}


.h_container,
.m_box_1,
.m_box_2,
.f_box_1,
.f_box_2 {
    width: $container_width; //vedi styles/partials/_variables - uso di variabile SCSS
    margin: $container_margin; //vedi styles/partials/_variables - uso di variabile SCSS
}